<!-- import and vulc --><!-- <link rel="import" href="./employee/employee-list.html"> --><!-- import only from public --><html><head><meta charset="UTF-8"><!-- import from app (vulcable) -->
</head><body><div hidden="" by-vulcanize=""><link rel="import" href="/components/paper-button/paper-button.html"><link rel="import" href="/components/paper-input/paper-input.html"><link rel="import" href="/components/paper-dialog/paper-dialog.html"><link rel="import" href="/components/paper-toast/paper-toast.html"><link rel="import" href="/components/iron-icons/iron-icons.html"><link rel="import" href="/components/iron-icons/maps-icons.html"><link rel="import" href="/components/razilocomponents/razilo-request.html"><link rel="import" href="/components/razilocomponents/razilo-store.html"><dom-module id="razilo-style-base" assetpath="./">
	<template>
		<style>
			.green, [color="green"] { background: green; color: white; }
			.green[disabled], [color="green"][disabled] { background: green; color: white; opacity: 0.6; }
			.red, [color="red"] { background: red; color: white; }
			.red[disabled], [color="red"][disabled] { background: red; color: white; opacity: 0.6; }
			.orange, [color="orange"] { background: orange; color: white; }
			.orange[disabled], [color="orange"][disabled] { background: orange; color: white; opacity: 0.6; }
			.black, [color="black"] { background: black; color: white; }
			.black[disabled], [color="black"][disabled] { background: black; color: white; opacity: 0.6; }
			.grey, [color="grey"] { background: grey; color: black; }
			.grey[disabled], [color="grey"][disabled] { background: grey; color: black; opacity: 0.6; }
		</style>
	</template>
</dom-module>
<link rel="import" href="/components/iron-icons/editor-icons.html"><link rel="import" href="/components/iron-icons/image-icons.html"><style>
	/* Put this inside a style module, create system style and import into each bit of the system */
	* { font-family: sans-serif; }
</style><dom-module id="razilo-panel" assetpath="./">
	<template>
		<style include="razilo-style-base">
			:host { margin: 0; padding: 5px; position: fixed; top: 3px; left: 3px; z-index: 100; background-color: #f4f4f4; border: 1px solid #eee; box-shadow: 0px 0px 30px 0px; transform-origin: 12px 12px; -webkit-transition: transform 0.5s ease-in-out; -moz-transition: transform 0.5s ease-in-out; -ms-transition: transform 0.5s ease-in-out; transition: transform 0.5s ease-in-out; }
			:host([rotate]) { transform: rotate(180deg); }
			.dashboard-controls .rotate { cursor: pointer; position: absolute; top: 5px; left: 5px; width: 15px; height: 15px; }
			.dashboard-controls .details { padding-left: 20px; float: right; text-align: right; }
			.dashboard-controls .details .name .profile { cursor: pointer; }
			.dashboard-controls .details .last-logged-in { font-size: 8px; }
			.dashboard-controls .details .last-logged-in .history { height: 10px; width: 10px; }
			.editor-controls { float: left; }
			.editor-controls iron-icon { cursor: pointer; margin: 0px 3px; }
		</style>

		<razilo-store id="store"></razilo-store>

		<div class="panel">
			<div class="dashboard-controls">
				<iron-icon class="rotate" icon="icons:cached" on-click="rotatePanel"></iron-icon>
				<div class="details">
					<div class="name">
						<span>{{user.name}}</span>
						<iron-icon class="profile" icon="icons:account-circle" on-click="doAction" action="profileEdit"></iron-icon>
					</div>
					<p class="last-logged-in">
						<iron-icon class="history" icon="icons:history"></iron-icon>
						{{dateFormat(user.last_logged_in)}}
					</p>
				</div>
			</div>

			<div class="editor-controls" bind-show="checkAccessLevel(private.user.access_level, 5)">
				<iron-icon icon="icons:settings" on-click="doAction" action="dashboard"></iron-icon>
				<iron-icon icon="editor:mode-edit" on-click="doAction" action="pageEdit"></iron-icon>
				<iron-icon icon="image:control-point" on-click="doAction" action="pageAdd"></iron-icon>
				<iron-icon icon="image:control-point-duplicate" on-click="doAction" action="pageCopy"></iron-icon>
			</div>
		</div>
	</template>

	<script>
		class RaziloPanel extends Polymer.Element {
			static get is() { return "razilo-panel"; }

			static get properties() {
				return {
					action: { type: String, value: null },
					rotate: { type: Boolean, value: false },
					user: { type: Object, value: null }
				}
			}

			constructor() {
				super();
			}

			ready() {
				super.ready();

				this.rotate = this.$.store.getItem('panel.rotate');
				if (this.rotate) this.setAttribute('rotate', '');
				else this.removeAttribute('rotate');
			}

			rotatePanel() {
				this.rotate = !this.rotate;
				if (this.rotate) this.setAttribute('rotate', '');
				else this.removeAttribute('rotate');

				this.$.store.setItem('panel.rotate', this.rotate);
			}

			doAction(event) {
				this.action = event.target.getAttribute('action');
				this.dispatchEvent(new CustomEvent('action', {detail: {action: this.action}}));
			}

			dateFormat(time) {
				var date = new Date(time);
				return date.toDateString();
			}
		}

		customElements.define(RaziloPanel.is, RaziloPanel);
	</script>
</dom-module>
<dom-module id="razilo-dashboard" assetpath="Dashboard/">
	<template>
		<style include="razilo-style-base">

		</style>

		<paper-dialog id="loginModal" class="modal" opened="{{opened}}">
			<h2>Dashboard (change to full screen)</h2>
			<div class="inputs">
				<paper-dialog-scrollable>
				Lorem ipsum...
				</paper-dialog-scrollable>
			</div>
			<div class="buttons">
				<paper-button dialog-dismiss="">Cancel</paper-button>
				<paper-button dialog-confirm="" autofocus="" on-click="doSave" color="green">Save</paper-button>
			</div>
		</paper-dialog>
	</template>

	<script>
		class RaziloDashboard extends Polymer.Element {
			static get is() { return "razilo-dashboard"; }

			static get properties() {
				return {
					opened: { type: Boolean, value: false }
				}
			}

			constructor() {
				super();
			}

			ready() {
				super.ready();
			}

			open() {
				this.opened = true;
			}

			close() {
				this.opened = false;
			}

			doSave() {
				consoel.log('save');
			}
		}

		customElements.define(RaziloDashboard.is, RaziloDashboard);
	</script>
</dom-module>
<dom-module id="razilo-profile-edit" assetpath="Profile/">
	<template>
		<style include="razilo-style-base"></style>

		<razilo-request id="request" base-url="razorcms.docker.localhost/api"></razilo-request>
		<razilo-store id="store"></razilo-store>
		<paper-toast id="toast" color$="{{toastColor}}"></paper-toast>

		<paper-dialog id="loginModal" class="modal" opened="{{opened}}">
			<h2>Change Your Profile</h2>
			<div class="inputs">
				<paper-dialog-scrollable>
					<paper-input id="userName" label="Name" type="text" value="{{user.name}}" invalid="{{invName}}" required="" auto-validate="" error-message="Needs some text!"></paper-input>
					<paper-input id="userName" label="Email" type="email" value="{{user.email_address}}" invalid="{{invEmail}}" required="" auto-validate="" error-message="Needs a valid email!"></paper-input>
					<paper-input id="userName" label="Password" type="password" value="{{password}}"></paper-input>
					<paper-input id="userName" label="Repeat Password" type="password" value="{{passwordRepeat}}" invalid="{{isDifferent(password, passwordRepeat)}}" error-message="Must match password"></paper-input>
				</paper-dialog-scrollable>
			</div>
			<div class="buttons">
				<paper-button dialog-dismiss="">Cancel</paper-button>
				<paper-button dialog-confirm="" autofocus="" on-click="doSave" color="green" disabled$="{{isInvalid(invName, invEmail, password, passwordRepeat)}}">Save</paper-button>
			</div>
		</paper-dialog>
	</template>

	<script>
		class RaziloProfileEdit extends Polymer.Element {
			static get is() { return "razilo-profile-edit"; }

			static get properties() {
				return {
					opened: { type: Boolean, value: false },
					user: { type: Object, value: null }
				}
			}

			constructor() {
				super();

				this.form = null;
				this.password = null;
				this.passwordRepeat = null;
			}

			ready() {
				super.ready();
			}

			open() {
				this.opened = true;
			}

			close() {
				this.opened = false;
			}

			isInvalid(name, email, pass, passr) {
				return name || email || (!!pass && pass != passr);
			}

			isDifferent(pass, passr) {
				return !!pass && pass != passr;
			}

			doSave() {
				// create temp var to stop passwords being passed around
				var data = {
					name: this.user.name,
					email_address: this.user.email_address,
					new_password: this.password,
					repeat_password: this.passwordRepeat
				};

				this.$.request.post('user/update', data).then((res) => {
					this.password = null;
					this.passwordRepeat = null;
					this.$.store.setItem('user', res.data.data);
					this.toast(res.data.message, 'green');
					this.opened = false;
				}).catch((error) => {
					this.toast(error.data.message, 'red');
				});
			}

			toast(text, color) {
				if (color) this.toastColor = color;
				this.$.toast.text = text;
				this.$.toast.open();
			}
		}

		customElements.define(RaziloProfileEdit.is, RaziloProfileEdit);
	</script>
</dom-module>
<dom-module id="razilo-page-add" assetpath="Page/">
	<template>
		<style include="razilo-style-base">

		</style>

		<paper-dialog id="loginModal" class="modal" opened="{{opened}}">
			<h2>Add a Page</h2>
			<div class="inputs">
				<paper-dialog-scrollable>
				Lorem ipsum...
				</paper-dialog-scrollable>
			</div>
			<div class="buttons">
				<paper-button dialog-dismiss="">Cancel</paper-button>
				<paper-button dialog-confirm="" autofocus="" on-click="doSave" color="green">Save</paper-button>
			</div>
		</paper-dialog>
	</template>

	<script>
		class RaziloPageAdd extends Polymer.Element {
			static get is() { return "razilo-page-add"; }

			static get properties() {
				return {
					opened: { type: Boolean, value: false }
				}
			}

			constructor() {
				super();
			}

			ready() {
				super.ready();

			}

			open() {
				this.opened = true;
			}

			close() {
				this.opened = false;
			}

			doSave() {
				consoel.log('save');
			}
		}

		customElements.define(RaziloPageAdd.is, RaziloPageAdd);
	</script>
</dom-module>
<dom-module id="razilo-page-copy" assetpath="Page/">
	<template>
		<style include="razilo-style-base">
		</style>

		<paper-dialog id="loginModal" class="modal" opened="{{opened}}">
			<h2>Copy a Page</h2>
			<div class="inputs">
				<paper-dialog-scrollable>
				Lorem ipsum...
				</paper-dialog-scrollable>
			</div>
			<div class="buttons">
				<paper-button dialog-dismiss="">Cancel</paper-button>
				<paper-button dialog-confirm="" autofocus="" on-click="doSave" color="green">Save</paper-button>
			</div>
		</paper-dialog>
	</template>

	<script>
		class RaziloPageCopy extends Polymer.Element {
			static get is() { return "razilo-page-copy"; }

			static get properties() {
				return {
					opened: { type: Boolean, value: false }
				}
			}

			constructor() {
				super();
			}

			ready() {
				super.ready();

			}

			open() {
				this.opened = true;
			}

			close() {
				this.opened = false;
			}

			doSave() {
				consoel.log('save');
			}
		}

		customElements.define(RaziloPageCopy.is, RaziloPageCopy);
	</script>
</dom-module>
<style>
	/* Put this inside a style module, create system style and import into each bit of the system */
	* { font-family: sans-serif; }
</style></div><dom-module id="razilo-app">
	<template>
		<style include="razilo-style-base">
			.modal .inputs { padding: 0 20px; }
		</style>

		<template id="restricted" is="dom-if" if="{{user}}">
			<razilo-panel user="{{user}}" on-action="doAction"></razilo-panel>
			<razilo-dashboard></razilo-dashboard>
			<razilo-profile-edit user="{{user}}"></razilo-profile-edit>
			<razilo-page-add></razilo-page-add>
			<razilo-page-copy></razilo-page-copy>
		</template>

		<razilo-request id="request" base-url="razorcms.docker.localhost/api"></razilo-request>
		<razilo-store id="store"></razilo-store>
		<paper-toast id="toast" color$="{{toastColor}}"></paper-toast>

		<paper-dialog id="loginModal" class="modal">
			<h2>Razilo Login</h2>
			<div class="inputs">
				<paper-input id="loginUsername" label="Email" type="text" on-keyup="doLogin"></paper-input>
				<paper-input id="loginPassword" label="Password" type="password" on-keyup="doLogin"></paper-input>
			</div>
			<div class="buttons">
				<paper-button dialog-dismiss="">Cancel</paper-button>
				<paper-button dialog-confirm="" autofocus="" on-click="doLogin" color="green">Log In</paper-button>
			</div>
		</paper-dialog>
	</template>

	<script>
		class RaziloApp extends Polymer.Element {
			static get is() { return "razilo-app"; }

			static get properties() {
				return {
					currentPath: { type: String, value: null },
					currentPage: { type: Number, value: null }
				}
			}

			constructor() {
				super();

				this.action = null;
				this.user = null;
				this.toastColor = null;
			}

			ready() {
				super.ready();

				if (this.currentPath == 'login') this.openLogin();
				else this.authenticate();
			}

			openLogin() {
				this.$.loginModal.open();
			}

			doLogin(event) {
				if (event.type == 'keyup' && event.keyCode != 13) return;

				this.$.request.post('login', {username: this.$.loginUsername.value, password: this.$.loginPassword.value}).then((res) => {
					this.$.loginPassword.value = '';
					this.$.store.setItem('user', res.data.data);
					this.user = res.data.data;
					location.href = location.href.replace('/login', '');
				}).catch((error) => {
					this.$.loginPassword.value = '';
					this.doLogout();
					this.toast(error.data.message, 'red');
				});
			}

			doLogout() {
				this.user = null;
				this.$.store.deleteItem('user');
				this.$.request.deleteToken();
			}

			doAction(event) {
				switch (event.detail.action) {
					case 'dashboard' : this.shadowRoot.querySelector('razilo-dashboard').open(); break;
					case 'profileEdit' : this.shadowRoot.querySelector('razilo-profile-edit').open(); break;
					case 'pageAdd' : this.shadowRoot.querySelector('razilo-page-add').open(); break;
					case 'pageCopy' : this.shadowRoot.querySelector('razilo-page-copy').open(); break;
				}
			}

			authenticate() {
				this.$.request.get('ping').then((res) => {
					this.user = this.$.store.getItem('user');
				}).catch((error) => {
					this.doLogout();
				});
			}

			toast(text, color) {
				if (color) this.toastColor = color;
				this.$.toast.text = text;
				this.$.toast.open();
			}
		}

		customElements.define(RaziloApp.is, RaziloApp);
	</script>
</dom-module>
</body></html>