<dom-module id="razilo-style-base">
	<template>
		<style>
			.green, [color="green"] { background: green; color: white; }
			.green[disabled], [color="green"][disabled] { background: green; color: white; opacity: 0.6; }
			.red, [color="red"] { background: red; color: white; }
			.red[disabled], [color="red"][disabled] { background: red; color: white; opacity: 0.6; }
			.orange, [color="orange"] { background: orange; color: white; }
			.orange[disabled], [color="orange"][disabled] { background: orange; color: white; opacity: 0.6; }
			.black, [color="black"] { background: black; color: white; }
			.black[disabled], [color="black"][disabled] { background: black; color: white; opacity: 0.6; }
			.grey, [color="grey"] { background: grey; color: black; }
			.grey[disabled], [color="grey"][disabled] { background: grey; color: black; opacity: 0.6; }
		</style>
	</template>
</dom-module>
