<!--
* raziloComponents
* razilo-dashboard-user - Simple single page demo app start point
* @author Paul Smith (smiffy6969)
* @site component.razilo.net
* @licence MIT
-->

<!-- DEPENDANCIES -->
<link rel="import" href="razilocomponents/index.html" />

<!-- STYLE - Encapsulate all css to tag name -->
<style>
	razilo-dashboard-user { margin: 0; padding: 0; }
</style>

<!-- TEMPLATE -->
<template id="razilo-dashboard-user">
	<div class="dashboard-pane">
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
		<p>User</p>
	</div>
</template>

<!-- LOGIC -->
<script>
	new RaziloComponent('razilo-dashboard-user', {
		private: {

		},

		/**
		 * Attached
		 */
		attached: function() {
			console.log('attached user');
		}
	});
</script>
