<link rel="import" href="/components/paper-item/paper-item.html">

<dom-module id="razilo-dashboard-setting">
	<template>
		<style include="razilo-style-base">

		</style>

		<razilo-request id="request" base-url="razorcms.docker.localhost/api"></razilo-request>
		<paper-toast id="toast" color$="{{toastColor}}"></paper-toast>

		<template id="settings" is="dom-repeat" items="{{settings}}" index-as="id">
			<p>{{item.name}}: {{item.value}}</p>
		</template>
	</template>

	<script>
		class RaziloDashboardSetting extends Polymer.Element {
			static get is() { return "razilo-dashboard-setting"; }

			static get properties() {
				return {
					opened: { type: Boolean, value: false }
				}
			}

			constructor() {
				super();

				this.settings = [];
				this.toggled = null;
			}

			ready() {
				super.ready();
				this.getSettings();
			}

			open() {
				this.opened = true;
			}

			close() {
				this.opened = false;
			}

			getSettings() {
				this.$.request.get('setting').then((res) => {
					this.settings = res.data.data;
				}).catch((error) => {
					this.toast(error.data.message, 'red');
				});
			}

			toast(text, color) {
				if (color) this.toastColor = color;
				this.$.toast.text = text;
				this.$.toast.open();
			}
		}

		customElements.define(RaziloDashboardSetting.is, RaziloDashboardSetting);
	</script>
</dom-module>
