<dom-module id="razilo-dashboard-detail">
	<template>
		<style include="razilo-style-base">
			.save { float: right; }
		</style>

		<razilo-request id="request" base-url="razorcms.docker.localhost/api"></razilo-request>
		<paper-toast id="toast" color$="{{toastColor}}"></paper-toast>

		<paper-dropdown-menu label="Access Level">
			<paper-listbox slot="dropdown-content" selected="{{page.access_level}}">
				<paper-item value="0">Public</paper-item>
				<paper-item value="1">User Level 1</paper-item>
				<paper-item value="2">User Level 2</paper-item>
				<paper-item value="3">User Level 3</paper-item>
				<paper-item value="4">User Level 4</paper-item>
				<paper-item value="5">User Level 5</paper-item>
			</paper-listbox>
		</paper-dropdown-menu>
		<paper-input label="Name (used in menus)" type="text" value="{{page.name}}" invalid="{{inv.name}}" required auto-validate error-message="Needs some text!"></paper-input>
		<paper-input label="Title (used by search engines)" type="text" value="{{page.title}}" invalid="{{inv.title}}" required auto-validate error-message="Needs some text!"></paper-input>
		<paper-input label="Link (to access page from browser)" type="text" value="{{page.link}}" invalid="{{inv.link}}"></paper-input>
		<paper-input label="Keywords (used by search engines, comma seperated)" type="text" value="{{page.keywords}}" invalid="{{inv.key}}" required auto-validate error-message="Needs some text!"></paper-input>
		<paper-textarea label="Description (used by search engines)" max-rows="2" invalid="{{inv.desc}}" required auto-validate error-message="Needs some text!" value="{{page.description}}"></paper-textarea>
		<paper-button dialog-confirm autofocus class="save" on-click="doSave" color="green" disabled$="{{isInvalid(inv.name, inv.title, inv.link, inv.key, inv.desc)}}">Save</paper-button>
	</template>

	<script>
		class RaziloDashboardDetail extends Polymer.Element {
			static get is() { return "razilo-dashboard-detail"; }

			static get properties() {
				return {
					currentPage: { type: Number, value: null },
					opened: { type: Boolean, value: false }
				}
			}

			constructor() {
				super();

				this.page = {};
				this.inv = {};
			}

			ready() {
				super.ready();

				this.getPage();
			}

			open() {
				this.opened = true;
			}

			close() {
				this.opened = false;
			}

	   		getPage() {
				this.$.request.get('page', this.currentPage).then((res) => {
					this.page = res.data.data;
				}).catch((error) => {
					this.toast(error.data.message, 'red');
				});
	   		}

			doSave() {
				this.$.request.patch('page/' + this.currentPage, this.page).then((res) => {
					this.page = res.data.data;
					this.toast(res.data.message, 'green');
				}).catch((error) => {
					this.toast(error.data.message, 'red');
				});
			}

			isInvalid(invName, invTitle, invLink, invKey, invDesc) {
				return invName || invTitle || invLink || invKey || invDesc;
			}

			toast(text, color) {
				if (color) this.toastColor = color;
				this.$.toast.text = text;
				this.$.toast.open();
			}
		}

		customElements.define(RaziloDashboardDetail.is, RaziloDashboardDetail);
	</script>
</dom-module>
