<link rel="import" href="/components/paper-item/paper-item.html">

<dom-module id="razilo-dashboard-page">
	<template>
		<style include="razilo-style-base">
			paper-item { margin-bottom: 10px; color: white; }
			paper-item:hover { background-color: #111; }
			iron-icon { margin-right: 20px; color: white; }
			iron-icon.active { color: green; }
			iron-icon.inactive { color: red; }
			paper-item[selected], paper-item[focused][selected] { background-color: #000; cursor: default; }
			paper-item-body { width: 90%; }

			.toggle { position: absolute; right: 0px; border-radius: 50px; }
			.toggle.less { position: absolute; right: 0px; cursor: pointer; }
			.toggle.less:hover { background-color: #555; }
			.pull-right { float: right; }

			.details { padding: 10px 0px; width: 96%; }
			.left, .right { width: 100%; display: block; box-sizing: border-box; float: left; }
			.controls { width: 100%; display: block; box-sizing: border-box; clear: left; }
			@media (min-width: 800px) {
				.details { width: 100%; }
				.left { width: 49%; display: inline-block; }
				.right { width: 49%; display: inline-block; float: right; }
			}

			table { width: 100%; max-width: 100%; margin-bottom: 10px; background-color: white; border: 2px solid #5776c3; border-collapse: collapse; }
			table thead { background-color: #5776c3; }
			table th, table td { padding: 5px; vertical-align: top; }
			table thead th { vertical-align: bottom; color: white; }
			table td { color: #333; }
			table tbody tr:nth-of-type(odd) { background-color: #ddd; }
		</style>

		<razilo-request id="request" base-url="razorcms.docker.localhost/api"></razilo-request>
		<paper-toast id="toast" color$="{{toastColor}}"></paper-toast>

		<template is="dom-repeat" items="{{pages}}" index-as="id">
			<paper-item selected$="{{equal(toggled, id)}}" on-click="doMore" index$="{{id}}">
				<iron-icon class="active" index$="{{id}}" icon="icons:check" hidden$="{{!numberTrue(item.active)}}"></iron-icon>
				<iron-icon class="inactive" index$="{{id}}" icon="icons:block" hidden$="{{numberTrue(item.active)}}"></iron-icon>
				<paper-item-body two-line>
					<div index$="{{id}}">{{item.name}}</div>
					<div secondary index$="{{id}}">{{item.title}}</div>
					<div class="details" hidden$="{{!equal(toggled, id)}}">
						<div class="information">
							<div class="left">
								<table>
									<thead>
										<tr>
											<th>Name</th>
											<th>Value</th>
										</tr>
									</thead>
									<tbody>
										<template is="dom-repeat" items="{{_toArray(item)}}">
											<tr>
												<td>{{item.name}}</td>
												<td>{{item.value}}</td>
											</tr>
										</template>
									</tbody>
								</table>
							</div>
							<div class="right">
								<p>snapshot here</p>
								<p>snapshot here</p>
								<p>snapshot here</p>
								<p>snapshot here</p>
								<p>snapshot here</p>
							</div>
						</div>
						<div class="controls">
							<paper-button color="green" on-click="doEdit">Edit Page</paper-button>
							<paper-button class="pull-right" color="red" on-click="doHomePage">Delete Page</paper-button>
							<paper-button class="pull-right" color="blue" on-click="doDelete">Make Home Page</paper-button>
						</div>
					</div>
				</paper-item-body>
				<iron-icon class="toggle more" index$="{{id}}" icon="icons:unfold-more" hidden$="{{equal(toggled, id)}}"></iron-icon>
				<iron-icon on-click="doLess" index$="{{id}}" class="toggle less" icon="icons:unfold-less" hidden$="{{!equal(toggled, id)}}"></iron-icon>
			</paper-item>
		</template>
	</template>

	<script>
		class RaziloDashboardPage extends Polymer.Element {
			static get is() { return "razilo-dashboard-page"; }

			static get properties() {
				return {
					opened: { type: Boolean, value: false }
				}
			}

			constructor() {
				super();

				this.pages = [];
				this.toggled = null;
			}

			ready() {
				super.ready();
				this.getPages();
			}

			open() {
				this.opened = true;
			}

			close() {
				this.opened = false;
			}

			getPages() {
				this.$.request.get('page').then((res) => {
					this.pages = res.data.data;
				}).catch((error) => {
					this.toast(error.data.message, 'red');
				});
			}

			numberTrue(a) {
				return parseInt(a) == 0 ? false : true;
			}

			different(a, b) {
				return a != b;
			}

			equal(a, b) {
				return a == b;
			}

			doLess(event) {
				if (event.target.hasAttribute('index')) this.toggled = null;
			}

			doMore(event) {
				if (event.target.hasAttribute('index') && event.target.className != 'toggle less') this.toggled = event.target.getAttribute('index');
			}

			doEdit() {
				var link = page.link.length > 0 ? page.link : '/';
				window.location.href = link;
			}

			doHomePage() {
				console.log('home', event.target.getAttribute('index'));
				// this.$.request.get('page').then((res) => {
				// 	this.toast(res.data.message, 'green');
				// }).catch((error) => {
				// 	this.toast(error.data.message, 'red');
				// });
			}

			doDelete(event) {
				console.log('delete', event.target.getAttribute('index'));
				// this.$.request.delete('page', page.id).then((res) => {
				// 	this.pages.splice(idx, 1);
				// 	console.log('ok', res);
				// 	this.toast(res.data.message, 'green');
				// }).catch((error) => {
				// 	console.log('error', error);
				// 	this.toast(error.data.message, 'red');
				// });
			}

			toast(text, color) {
				if (color) this.toastColor = color;
				this.$.toast.text = text;
				this.$.toast.open();
			}

	        _toArray(obj) {
	            return Object.keys(obj).map(function(key) {
	                return {
	                    name: key,
	                    value: obj[key]
	                };
	            });
	        }
		}

		customElements.define(RaziloDashboardPage.is, RaziloDashboardPage);
	</script>
</dom-module>
