<dom-module id="employee-list">
	<template>
		<style>
			span { color: red; }
			.slot { background-color: blue; color: white; }
			.slot2 { background-color: black; color: white; }
		</style>

		<div> Employee list: </div>
		<br/>
		<p class="slot"><slot name="heading"></slot></p>
		<p class="slot2"><slot name="main"></slot></p>
		<br/>
		<template is="dom-repeat" items="{{employees}}" index-as="id">
			<p on-click="clicked">{{greeting}}</p>
			<div>First name: <span>{{item.first}}</span></div>
			<div>Last name: <span>{{item.last}}</span></div>
		</template>
	</template>

	<script>
		class EmployeeList extends Polymer.Element {
			static get is() { return "employee-list"; }

			static get properties() {
				return {
					greeting: { type: String, value: "Hello!" }
				}
			}

			constructor() {
				super();
				this.employees = [
					{first: 'Bob', last: 'Li'},
					{first: 'Ayesha', last: 'Johnson'},
					{first: 'Fatma', last: 'Kumari'},
					{first: 'Tony', last: 'Mori'}
				];

				console.log('setup');
			}

			ready() {
				super.ready();

				console.log('ready');
			}

			/**
			 * Custom method to handle click
			 */
			clicked() {
				console.log('clicked');
			}
		}

		customElements.define(EmployeeList.is, EmployeeList);
	</script>
</dom-module>
