<!--
* raziloComponents
* razilo-admin - Simple single page demo app start point
* @author Paul Smith (smiffy6969)
* @site component.razilo.net
* @licence MIT
-->

<!-- DEPENDANCIES -->
<link rel="import" href="razilocomponents/index.html" />
<link rel="import" href="razilo-panel.html" />

<!-- STYLE - Encapsulate all css to tag name -->
<style>
	razilo-admin { margin: 0; padding: 0; }
	razilo-admin .login-modal main { text-align: center; }
</style>

<!-- TEMPLATE -->
<template id="razilo-admin">
	<razilo-request base-url="razilocms.docker.localhost/api"></razilo-request>
	<razilo-store></razilo-store>
	<razilo-panel bind-show="private.user"></razilo-panel>
	<razilo-message position="top"></razilo-message>
	<razilo-modal class="login-modal" size="small" bind-attributes="{'show': private.login.show}">
		<heading>Razilo CMS</heading>
		<main>
			<razilo-insert placeholder="Username" name="username" type="text" bind-value="private.login.username"></razilo-insert>
			<razilo-insert placeholder="Password" name="password" type="password" bind-value="private.login.password"></razilo-insert>
		</main>
		<footer>
			<button class="btn btn-success" bind-click="logIn()">Log In</button>
		</footer>
	</razilo-modal>
</template>

<!-- LOGIC -->
<script>
	new RaziloComponent('razilo-admin', {
		private: {
			path: null,
			login: {
				show: false,
				username: '',
				password: '',
				ip_address: RAZOR_USERS_IP
			},
			user: null
		},

		/**
		 * Attached
		 */
		attached: function() {
			this.private.path = this.getHost().getAttribute('path');
			if (this.private.path == 'login') setTimeout(() => { this.private.login.show = true; }, 500);
			else this.authenticate();
		},

		/**
		 * logIn
		 */
		logIn: function() {
			document.querySelector('razilo-admin razilo-request').post('login', this.private.login).then((res) => {
				document.querySelector('razilo-admin razilo-store').setItem('user', res.data.data.user);
				location.href = location.href.replace('/login', '');
			}).catch((error) => {
				document.querySelector('razilo-admin razilo-store').deleteItem('user');
				document.querySelector('razilo-admin razilo-message').setIcon('exclamation-triangle').setColor('red').setMessage('Failed to log you in').show();
			});
		},

		/**
		 * showLogin
		 */
		authenticate: function() {
			document.querySelector('razilo-admin razilo-request').get('ping').then(() => {
				this.private.user = document.querySelector('razilo-admin razilo-store').getItem('user');
			}).catch((error) => {
				console.log('may want to show a message');
				this.private.user = null;
				document.querySelector('razilo-admin razilo-store').deleteItem('user');
				document.querySelector('razilo-admin razilo-message').setIcon('exclamation-triangle').setColor('red').setMessage('Failed to authenticate you').show();
			});
		}
	});
</script>
