<!--
* raziloComponents
* razilo-app - Simple single page demo app start point
* @author Paul Smith (smiffy6969)
* @site component.razilo.net
* @licence MIT
-->

<!-- DEPENDANCIES -->
<link rel="import" href="razilocomponents/index.html" />

<!-- STYLE - Encapsulate all css to tag name -->
<style>
	razilo-app { margin: 0; padding: 0; }
	razilo-app .login-modal main { text-align: center; }
</style>

<!-- TEMPLATE -->
<template id="razilo-app">
	<razilo-request base-url="razilocms.docker.localhost/api"></razilo-request>
	<button is="razilo-button" size="medium" bind-click="testAuth()">Test Auth</button>
	<button is="razilo-button" size="medium" bind-click="showLogin()">Show Modal</button>
	<razilo-modal class="login-modal" size="small" bind-attributes="{'show': private.login.show}">
		<heading>Razilo CMS</heading>
		<main>
			<razilo-insert placeholder="Username" name="username" type="text" bind-value="private.login.username"></razilo-insert>
			<razilo-insert placeholder="Password" name="password" type="password" bind-value="private.login.password"></razilo-insert>
		</main>
		<footer>
			<button class="btn btn-success" bind-click="logIn()">Log In</button>
		</footer>
	</razilo-modal>
</template>

<!-- LOGIC -->
<script>
	new RaziloComponent('razilo-app', {
		private: {
			login: {
				show: false,
				username: '',
				password: '',
				ip_address: RAZOR_USERS_IP
			},
			user: {}
		},

		/**
		 * Attached
		 */
		attached: function() {
			console.log('attached');
		},

		/**
		 * showLogin
		 */
		showLogin: function() {
			this.private.login.show = true;
		},

		/**
		 * logIn
		 */
		logIn: function() {
			this.getHost().querySelector('razilo-request').post('login', this.private.login).then((res) => {
				this.private.user = res.data.user;
			}).catch((error) => {
				console.log('may want to show a message');
			});
		},

		/**
		 * showLogin
		 */
		testAuth: function() {
			this.getHost().querySelector('razilo-request').get('user/test').then((res) => {
				console.log(res);
				console.log(11111);
			}).catch((error, a) => {
				console.log('promote a logout by simply killing the token... may want to show a message too and clear out the user');
			});
		}
	});
</script>
