<!--
* raziloComponents
* razilo-dashboard-setting - Simple single page demo app start point
* @author Paul Smith (smiffy6969)
* @site component.razilo.net
* @licence MIT
-->

<!-- DEPENDANCIES -->
<link rel="import" href="razilocomponents/index.html" />

<!-- STYLE - Encapsulate all css to tag name -->
<style>
	razilo-dashboard-setting { margin: 0; padding: 0; }
</style>

<!-- TEMPLATE -->
<template id="razilo-dashboard-setting">
	<div class="dashboard-pane">
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
		<p>Setting</p>
	</div>
</template>

<!-- LOGIC -->
<script>
	new RaziloComponent('razilo-dashboard-setting', {
		private: {

		},

		/**
		 * Attached
		 */
		attached: function() {
			console.log('attached setting');
		}
	});
</script>
